[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]


[packages]
aiohttp = "*"
requests = "*"
redis = "*"
lxml = "*"
flask = "*"
pyquery = "*"
bs4 = "*"

[requires]
python_version = "3.7"
