[[source]]
name = "pypi"
url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple/"
verify_ssl = true

[dev-packages]
aiohttp = "*"
requests = "*"
redis = "*"
lxml = "*"
flask = "*"
pyquery = "*"
bs4 = "*"

[packages]

[requires]
python_version = "3.7"
