[[source]]
name = "pypi"
url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple/"
verify_ssl = true

[dev-packages]
aiohttp = "*"
requests = "*"
redis = "*"
lxml = "*"
flask = "*"
pyquery = "*"
bs4 = "*"

[packages]
aiohttp = ">=1.3.3"
requests = ">=2.13.0"
pyquery = ">=1.2.17"
Flask = ">=0.11.1"
redis = "*"

[requires]
python_version = "3.7"
